.hero-logo {
    margin-block-end: 2.5rem;
    max-height: 86vh;
}

.home-page {
    .title-popular {
        margin-block-end: rem(30px);
    }
    .popular-img-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: rem(20px);
        margin-block-end: rem(70px);

        .stay-container {
            margin-inline-start: 0.625rem;
        }

        .popular-img {
            width: 4rem;
        }

        .popular-txt {
            margin-inline-start: rem(10px);
            line-height: rem(24px);
            .country {
                font-weight: 500;
            }
        }

        @include for-wide-layout {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    .labels-img-list {
        display: grid;
        gap: rem(10px);
        grid-template-columns: repeat(4, 1fr);
        margin-block-start: rem(30px);
    }

    .txt-label {
        padding-block-start: rem(10px);
    }

    .host-container {
        // max-height: rem(480px);
        margin-block-start: rem(75px);
        margin-block-end: rem(40px);
        color: white;
        position: relative;
        display: block;

        .host-info {
            height: 100%;
            padding: 0px 80px;
            position: absolute;
            display: flex;
            align-items: center;
            top: 0;

            .info-first {
                font-size: rem(48px);
                line-height: 4.875rem;
            }
            .info-secdone {
                line-height: rem(15px);
            }
        }
        .host-btn {
            padding: rem(14px) rem(24px);
            justify-content: flex-start;
            align-self: flex-start;
            font-weight: 700;
        }
    }
}
a {
    text-decoration: none;
    color: black;
}
