.hero-logo {
    margin-block-end: 2.5rem;
    & > {
        max-height: 86vh;
    }
}
.home-page {
    .popular-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: rem(20px);
        margin-block-end: rem(70px);

        .stay-container {
            margin-inline-start: 0.625rem;
        }

        .popular {
            width: 4rem;
            height: 4rem;
            border-radius: rem(5px);
        }
        .popular-txt {
            margin-inline-start: rem(10px);
        }

        @include for-wide-layout {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
    .title-popular {
        margin-block-end: rem(70px);
    }
    .title-explore {
        margin-block-end: 1.875rem;
    }
    .destinations-img {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        margin-block-end: rem(80px);
    }
    .host-img {
        height: rem(480px);
        border-radius: 5px;
    }
}
a {
    text-decoration: none;
    color: black;
}
