.host-page {
    margin-top: 54px;
    .host-container {
        position: relative;
    }

    .side-nav {
        gap: 20px;
    }
    .nav-bar {
        z-index: 30;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translate(-50%, -50%);

        .btn-nav {
            border-radius: 2em;
            padding: 10px 20px;
            border: none;
            background: inherit;
            &:hover {
                transition: 0.4s;
                background-color: #f1f1f1;
            }
        }
    }
    .active {
        span {
            // box-shadow: 0px 1px 0px;
            text-decoration: underline;
        }
    }

    .stay-details-container {
        background: $clr6;
        padding: 10px 20px;
    }
    h1 {
        text-align: center;
    }
}
