.stay-details-container {
    h1 {
        font-size: rem(26px);
        margin-bottom: rem(10px);
    }
    h2 {
        font-size: rem(22px);
    }

    .review-address-container {
        font-size: rem(14px);
        color: $clr1;
        font-weight: bold;

        span {
            color: $clr2;
        }
    }
    .star-icon {
        color: rgb(255, 56, 92);
    }
    .user-profile-img {
        border-radius: 50%;
        width: 55px;
        height: 55px;
    }
    .stay-details-grid {
        margin-top: rem(27px);
        margin-bottom: rem(52px);
        display: grid;
        grid-template: 1fr 1fr /2fr 1fr 1fr;
        gap: rem(10px);

        div:not(:first-child) {
            height: 175px;
        }
        .grid-img0 {
            grid-row: 1/-1;
            grid-column: 1;
            height: 360px;
        }
        .grid-img1 {
            grid-row: 1;
            grid-column: 2;
        }
        .grid-img2 {
            grid-row: 1;
            grid-column: 3;
        }
        .grid-img3 {
            grid-row: 2;
            grid-column: 2;
        }
        .grid-img4 {
            grid-row: 2;
            grid-column: 3;
            border-radius: 0 5px 5px 0;
        }
    }
    .img0 {
        border-radius: 10px 0 0 10px;
    }
    .img2 {
        border-radius: 0 10px 10px 0;
    }
    .img4 {
        border-radius: 0 10px 10px 0;
    }
}
.details-info {
    width: rem(650px);
}

.tag-container {
    gap: 10px;
    .tag-header {
        font-weight: bold;
        height: 1rem;
    }
    .fade-font {
        font-size: rem(14px);
        color: #717171;
    }
}

.amenities-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.amenities h2 {
    margin-bottom: 30px;
}

.datepicker-details {
    align-self: center;
    justify-self: center;
}

.details-reviews-header {
    font-size: rem(22px);
}

.review-points-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap:20px;
    margin-top: 50px;
    p {
        margin: 0;
        font-size: rem(16px);
    }
    span {
        color: $clr2;
        font-size: rem(12px);
    }
}

.review-point-bar {
    width: rem(100px);
    background-color: $clr1;
    border-radius: 5px;
    height: 5px;
}
.review-point-inner-bar {
    background-color: $clr2;
    height: 5px;
    border-radius: 5px;
}

.order-modal {
    .confirm-order {
        color: $clr4;
        background-image: var(
            --dls19-brand-gradient-radial,
            radial-gradient(
                circle at center,
                #ff385c 0%,
                #e61e4d 27.5%,
                #e31c5f 40%,
                #d70466 57.5%,
                #bd1e59 75%,
                #bd1e59 100%
            )
        );
    }
}
