.trip-container {
    .trip-hero {
        width: 100%;
        height: 100%;
    }

    img {
        border-radius: 13px 13px 0px 0px;
    }
    .trip-img {
        width: rem(380px);
        height: rem(150px);
    }
    .trip-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
    .trip-details {
        padding: 10px 20px;
    }

    .trip-preview {
        box-shadow: 0 6px 16px 2px #d8d8d8;
    }
    .txt-trip {
        margin-top: 124px;
        margin-bottom: 13px;
    }
    .btn-menu {
        margin-top: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(131, 126, 126, 0.5);
        width: inherit;
        .btn-trip {
            margin-bottom: 10px;
            background: none;
            border: none;
            padding: 10px 20px;
            border-radius: 2em;
            &:hover {
                outline: 1px solid $clr1;
                transition: 0.4s;
                background-color: #f1f1f1;
            }
        }
        &:last-child {
            margin-inline-start: 20px;
        }
    }
}
