.header-container {
  top: 0;
  width: 100%;
  z-index: 5;

  .btn-logo {
    border: none;
    background: inherit;
  }

  .header-func {
    justify-content: space-between;
    margin-block-start: 15px;

    a {
      color: white;
    }

    .link-host {
      text-decoration: none;
      margin-inline-end: 5px;
      padding: rem(12px);

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        transition: 0.4s;
      }
    }

    .nav-header {
      &:last-child() {
        margin-left: 10px;
      }

      .menu-container {
        background-color: whitesmoke;
        color: black;

        .menu-btn {
          border: none;
          padding: 10px 20px;
          border-radius: 3em;

          .menu-details {
            justify-content: space-between;
            width: rem(50px);
          }
        }
      }
      .user-img {
        width: rem(30px);
      }
    }

    .logo-img {
      width: rem(50px);
      height: rem(50px);
    }
    .logo-container {
      color: white;
    }

    .header-search {
      height: 40px;
      visibility: hidden;
    }
  }
}
