.header-container {
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;

  .header-func {
    display: flex;
    justify-content: space-between;
    margin-block-start: 15px;

    a {
      color: white;
    }

    .link-host {
      text-decoration: none;
      margin-inline-end: 5px;
    }

    .nav-header {
      &:last-child() {
        margin-left: 10px;
      }

      .menu-container {
        border-radius: 2em;
        background-color: whitesmoke;
        color: black;

        .menu-btn {
          border: none;
          padding: 10px 20px;
          border-radius: 3em;
        }
      }
      .user-img {
        border-radius: 3em;
      }
    }

    .logo-img {
      width: rem(50px);
      height: rem(50px);
    }
    .logo-container {
      color: white;
    }

    .header-search {
      height: 40px;
      visibility: hidden;
    }
  }
}
