.header-container {
  top: 0;
  width: 100%;
  z-index: 5;
  padding-block-end: rem(15px);
  .btn-logo {
    background: inherit;
    padding: 0px 10px 0px 0px;
  }

  .header-func {
    justify-content: space-between;
    margin-block-start: 15px;
    position: relative;

    .link-host {
      text-decoration: none;
      margin-inline-end: 5px;
      padding: rem(12px);
      text-align: center;

      &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        transition: 0.4s;
      }
      &.hover-bcg:hover {
        background: rgb(247, 247, 247);
      }
    }

    .nav-header {
      &:last-child() {
        margin-left: 10px;
      }

      .menu-container {
        color: black;

        .menu-btn {
          border: none;
          background: $clr4;
          padding: 10px 20px;
          border-radius: 3em;
          border: 1px solid #dad4d4;

          .menu-details {
            justify-content: space-between;
            width: rem(50px);
          }
        }
      }
      .user-img {
        width: rem(30px);
      }
    }

    .logo-img {
      width: rem(50px);
      height: rem(50px);
    }

    .header-search {
      height: 40px;
      visibility: hidden;
    }
  }
  .logo-pink {
    fill: $clr3;
  }

  .logo-white {
    fill: $clr4;
  }
  .txt-white {
    color: $clr4;
  }
  .txt-pink {
    color: $clr3;
  }
  .menu-dropdown {
    
    z-index: 10;
    right: 0;
    top: 70px;
    line-height: 40px;
    position: absolute;
    width: rem(240px);
    
  }
  // .txt-black {
  //   color: $clr1;
  // }
}

.link {
  font-family: airbnb-cereal-meduim;
  font-weight: 100;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    background-color: rgba(93, 85, 85, 0.15);
    transition: 0.4s;
  }
}
