.guests-container {
    padding: 10px;
    margin-top: 20px;
    max-width: 385px;
    height: 240px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);

    .guest-card {
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        .btn-counter {
            border-radius: 50%;
            // size: 20px ;
            font-size: 2rem;
            color: grey;
            border:none;
            width: rem(35px);
            height: rem(35px);
            justify-content: center;
            align-items: center;
        }
        .fade {
            opacity: 0.35;
        }
        span {
            font-size: 1rem;
            font-weight: bold;
        }
        .counter-container {
            align-items: center;
            gap: 5px;
        }
    }

    .guest-card:not(:first-child) {
        border-top: 1px solid rgba(128, 128, 128, 0.514);
    }
}
