.header-container {
  position: fixed;
  z-index: 100;
  height: 80px;
  display: flex;
  justify-content: space-between;
  width: 100% ;
  top:0;
  color:#fff;

  .nav-header {
    &:last-child() {
      margin-left: 10px;
    }
  }

  .logo img {
    height: 32px;
    width: 102px;
  }
   .logo-container {
    display: flex;
  }

  .header-search {
    height: 40px;
    visibility: hidden;
  }

  .functions-header {
    display: flex;
    
  }
}

.hero-logo {
  max-height: 612px;
}
