.header-container {
  position: fixed;
  height: 80px;
  top: 0;
  width: 100%;

  .header-func {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: aliceblue;
  }

  .nav-header {
    &:last-child() {
      margin-left: 10px;
    }
  }

  .logo-img {
    width: 2.2rem;
  }
  .logo-container {
    display: flex;
  }

  .header-search {
    height: 40px;
    visibility: hidden;
  }

  .functions-header {
    display: flex;
  }
}

.hero-logo {
  max-height: 612px;
}
