.statistic{
    .pie{
        // max-width: 500;
        // max-height: 400px;
        
        width: 42%;
        canvas{
          
        }
        
    }
    .stay-statistic{
       div img{
            width: 100px;
            height: 100px;
            border-radius: 10px;
            object-fit: cover;
        }
        h1 {
            

        }
    }
}