.search-bar-container {
    align-self: center;
    justify-content: space-between;
    max-width: rem(800px);
    margin-top: rem(20px);
    padding: rem(10px);
    gap: rem(15px);
    border-radius: rem(40px);
    background-color: white;
    cursor: pointer;

    .search-icon {
        color: white;
    }
    .search-bar-submit {
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: rgb(255, 56, 92);
        border-radius: 50%;
        width: rem(47px);
        height: rem(47px);
        border: none;
    }
    .input-container {
        background-color: transparent;
        padding: 10px;

        &:hover {
            background-color: rgb(235, 235, 235);
            border-radius: 30px;
        }
        span {
            font-size: 0.6rem;
        }
        input {
            background-color: inherit;
            cursor: pointer;
        }
    }
}
.picking-guest-container {
    align-self: flex-end;
    width: rem(385px);
    height: rem(240px);
}
