.add-stay-grid {
    margin-top: rem(27px);
    margin-bottom: rem(52px);
    display: grid;
    grid-template: 1fr 1fr /2fr 1fr 1fr;
    gap: rem(10px);


    img:hover {
        filter:brightness(0.85);
        transition:  0.5s;
    }

    div:not(:first-child) {
        height: 175px;
    }
    .grid-img0 {
        grid-row: 1/-1;
        grid-column: 1;
        height: 360px;
    }
    .grid-img1 {
        grid-row: 1;
        grid-column: 2;
    }
    .grid-img2 {
        grid-row: 1;
        grid-column: 3;
    }
    .grid-img3 {
        grid-row: 2;
        grid-column: 2;
    }
    .grid-img4 {
        grid-row: 2;
        grid-column: 3;
        border-radius: 0 5px 5px 0;
    }
}
.img0 {
    border-radius: 10px 0 0 10px;
}
.img2 {
    border-radius: 0 10px 10px 0;
}
.img4 {
    border-radius: 0 10px 10px 0;
}