.host-list {
    border-collapse: collapse;
    width: 100%;
    thead {
        .sort {
            cursor: pointer;
            &:hover {
                color: $clr2;
            }
            &.black {
                color: $clr2;
            }
        }
        tr {
            border-bottom: 1px solid #ebebeb;
        }
        th {
            color: $clr1;
            padding: 8px 16px;
            text-align: left;
            font-size: rem(14px);
            line-height: rem(16px);
            font-family: airbnb-cereal-bold;
            color: #717171;
            text-transform: uppercase;
            white-space: nowrap;
            position: -webkit-sticky;
            position: sticky;
            top: 0px;
            background: #ffffff;
            z-index: 4;
            box-shadow: 0 -1px 0 #ffffff, 12px 0 0 #ffffff, 0 1px 0 #ebebeb;
            width: 1px;
        }
    }
    tbody {
        .buyer {
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }
        .action {
            button {
                padding: 10px;
                width: 100px;
                border: none;
                border-radius: 4px;
                background-color: $clr3;
                color: #fff;
                &:hover {
                }
            }
        }
        .action-edit {
            button {
                padding: 10px;
                width: 65px;
                border: none;
                border-radius: 4px;
                background-color: $clr3;
                color: #fff;
                &:hover {
                }
            }
        }
        tr {
            box-shadow: 0 0 0;
            border-top: 1px solid #f7f7f7;
            background: #f7f7f7;
            box-shadow: #ffffff 0px -3px 0;
            // box-shadow: #f7f7f7 -12px 0px 0px 0px, #f7f7f7 12px 0px 0px 0px ;

            // box-shadow: #f7f7ed -12px 0px 0px 0px, #f7f7ed 12px 0px 0px 0px, #ffffff -12px -1px, #ffffff 12px -1px;
            &:last-child {
                // border-bottom: 1px solid transparent;
            }
            td {
                font-size: rem(14px);
                line-height: rem(18px);
                padding: 8px 16px;
                flex: auto;

                &:first-child {
                    align-items: center;
                    flex: 1;
                }

                img {
                    width: 92px;
                    height: 70px;
                    border-radius: 4px;
                    margin-right: 12px;
                    object-fit: cover;
                }

                &:nth-child(2) {
                    color: #484848;
                }
            }
        }
    }
}
.stay-details-container {
    margin-top: 35px;
}
.orders-blank {
    height: 100px;
}
