* {
  box-sizing: border-box;
}

::selection {
  background-color: $clr2;
  color: #fff;
}

html {
  font-family: airbnb-cereal-book, sans-serif;
  scroll-behavior: smooth;
}

.bold {
  font-family: "airbnb-cereal-bold";
}

body {
  margin: 0;
  background-size: 40%;
  background-attachment: fixed;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: rem(14px);
  margin: 0;
}

p {
  margin: 0 0 2rem;
  max-width: 46ch;
}
li {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  font-family: airbnb-cereal-book, sans-serif;
}

.scale-up-top {
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-top {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}
